/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: "SfUiTextRegular"; //This is what we are going to call
  src: url("./assets/fonts/sf-ui-text-regular.ttf");
}
@font-face {
  font-family: "SfProDisplayBlack"; //This is what we are going to call
  src: url("./assets/fonts/SFProDisplay-Black.ttf");
}
@font-face {
  font-family: "SfProDisplayMedium"; //This is what we are going to call
  src: url("./assets/fonts/SFProDisplay-Medium.ttf");
}

ion-content {
  font-family: SfProDisplayMedium !important;
  font-size: 1.1em;
}

/* recipe card */
.card:not(.open) .description {
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 3 !important;
  -webkit-box-orient: vertical !important;
  height: 4.2em;
}

.card:not(.open) .description p:first-child {
  margin-top: 0;
  padding-top: 0;
}

/* Parallax */
