<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <app-card-expandable
      *ngFor="let card of cards"
      [img]="card.src"
      [title]="card.title"
      [category]="card.category"
      [liked]="card.liked"
      [bookmarked]="card.bookmarked"
      [likeCount]="card.likeCount"
      [date]="card.date"
    >
      <app-card-info-holder
        subTitle
        [category]="card.category"
        [liked]="card.liked"
        [bookmarked]="card.bookmarked"
        [likeCount]="card.likeCount"
        [date]="card.date"
      ></app-card-info-holder>

      <div body>
        <app-card-content-holder [title]="card.title">
          <div [innerHTML]="card.content"></div>
        </app-card-content-holder>
      </div>
    </app-card-expandable>
  </div>
</ion-content>
