.welcome {
  padding-top: 1em;
  .info-holder {
    display: flex;
    justify-content: space-between;

    .date-holder {
      text-transform: uppercase;
      font-size: 12px;
      opacity: 0.5;
      margin-bottom: 0;
      flex: 1;
      margin: 0 1.4rem 0 0;
    }
  }
  .title {
    position: relative;
    margin: 10px 0 20px 0;
    font-weight: bold;
  }

  .avatar-info {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
    ion-avatar {
      height: 30px;
      width: 30px;
    }
  }
}
